body{
    background-color: rgba(245, 222, 179, 0.32);
}

h1{
    font-size: 60px;
}
p{
    font-size: 30px;
}
header li{
    font-size: 40px;
    color: rgb(30, 20, 215);
    background-color: rgba(0, 0, 0, 0.183);
    text-align: center;
}
.a img{
    float: left;
    padding: 20px;
}
.b img{
    float: right;
    padding: 20px;
}
.c img{
    float: left;
    padding: 20px;
}
.d img{
    float: right;
    padding: 20px;
}

span {
    text-align: center;
    color: rgb(38, 0, 255);
}